body {
    text-align: center;
}
h1 {font-family: "sans-serif"; font-size-adjust: auto;}

a {
  text-decoration: none;
color: firebrick;
}

a:hover {
  text-decoration: underline;
}

li {list-style: none;
text-decoration: none;
}

p.a {font-size: 24px; font-weight: 200;
}

p.a {
    font-size-adjust: auto;
    font-weight: 200;
}

p.b {
border-style: solid;
margin-bottom: 10px;
margin-left: 620px;
margin-right: 620px;
margin-top: 10px;}

p.c {
border-style: solid;
margin-bottom: 10px;
margin-left: 620px;
margin-right: 620px;
margin-top: 10px;}

p.c {text-align: 50px;}

p.d {
border-style: groove;
margin-bottom: 5px;
margin-left: 650px;
margin-right: 650px;
margin-top: 5px;}

p.c {text-align: left;}

video {border: 3px;
    border-style: groove;}